*{
	margin: 0;
	padding: 0;
    background: black;
    }
.container{
    position: relative;
    width: auto;
    }
.column{
	float: left;
    width: auto;
    box-sizing: border-box;
   	padding: 20px;
    margin: 15px 5px 15px 0px;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    }
hr{
    display: block;
    height: 1px;
    border:0;
    border-top: 1px solid white; 
    margin: 1em 0 1em 0;
    padding: 0;
    }
h1{
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 1px #aaa,
             2px 1px red,
             0px 4px 1px rgba(236, 236, 236, 0.5),
             4px 4px 5px rgba(202, 202, 202, 0.7),
             0px 0px 7px rgba(0,0,0,0.4);
    }
h2{
    display: block;
    color: white;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(236, 236, 236, 0.5),
             4px 4px 5px rgba(202, 202, 202, 0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
p{
    color: white;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(236, 236, 236, 0.5),
             4px 4px 5px rgba(202, 202, 202, 0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
.kaede{
    height: 350px;
    width: 225px;
    background:transparent url('../images/Kaede.png') no-repeat;
    border: 0;
    overflow: hidden;
    background-position: -3em 1px;
}
.kirumi{
    height: 350px;
    width: 225px;
    background:transparent url('../images/Kirumi.png') no-repeat;
    border: 0;
    overflow: hidden;
    background-position: -2em -6px;
}
.miu{
    height: 350px;
    width: 225px;
    background:transparent url('../images/Miu.png') no-repeat;
    border: 0;
    overflow: hidden;
    background-position: -2em 1px;
}
.monokuma{
    height: 350px;
    width: 225px;
    background:transparent url('../images/Monokuma.png') no-repeat;
    border: 0;
    overflow: hidden;
    background-position: -3em 3px;
}
.character{
    height: 225px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    display: inline-block;
    color: white;
    margin: 0px 2px 0px 2px;
    box-shadow: 0px 3px 8px #43484c;
    font-size: 24px;
    border-radius: 15px 15px 15px 15px;
    transition: background linear 0.33s;
    text-shadow: -1px -1px 1px #aaa,
             1px 1px black,
             0px 4px 1px rgba(236, 236, 236, 0.5),
             4px 4px 5px rgba(202, 202, 202, 0.7),
             0px 0px 7px rgba(0,0,0,0.4);
    position: relative;
    }
.character:hover{
    border: solid 2px white;
    }

.character:active {
    background: antiquewhite;
    opacity: 0.2;
    transform: translateY(3px);
    }
.character > h2, .character > span{
    font-size: 38px;
    background-color: transparent;
    margin: 0;
    bottom: 8px;
    left: 16px;
    position: absolute;
    text-shadow: -1px -1px 1px #aaa,
             1px 1px black,
             0px 4px 1px rgba(236, 236, 236, 0.5),
             4px 4px 5px rgba(202, 202, 202, 0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
.enemy:hover{
    border: solid 2px red;
    }

.enemy:active {
    background: red;
    opacity: 0.2;
    transform: translateY(3px);
    }
#attack{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    display: inline-block;
    color: white;
    margin: 0px 2px 0px 2px;
    box-shadow: 0px 3px 8px #43484c;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    transition: background linear 0.2s;
    text-shadow: -1px -1px 1px #aaa,
             1px 1px black,
             0px 4px 1px rgba(236, 236, 236, 0.5),
             4px 4px 5px rgba(202, 202, 202, 0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
#attack:hover{
    border: solid 3px red;
    }

#attack:active {
    background: red;
    transform: translateY(3px);
    }
#enemies{
    border: 1px solid red;
}
.clear{
    clear:both;
}
.row{
    width: auto;
    float: left;
}
.red, div > .enemy, .enemy > h2{
    color: red;
}