*{
	margin: 0;
	padding: 0;
    background: black;
    }

hr{
    display: block;
    height: 1px;
    border:0;
    border-top: 1px solid white; 
    margin: 1em 0 1em 0;
    padding: 0;
    }
h1{
    color: white;
    font-size: 52px;
    }